@import url('https://rsms.me/inter/inter.css');

/** For posts
***/
.intro {
  font-size:16px;
}

.list li {
    margin-bottom: 8px;
}

.list2 li {
    margin: 2px;
}
/** End posts
***/

/** For Card Details
***/
.noBorder {
    border:none !important;
}

.noBorder img {
    border-radius: 8px;
}

.carddata {
    text-align:center;
    font-size:17px;
}

.single img {
    border-radius: 6px;
}
/** End Card Details
***/


/** For Idol Story Details
***/
.storydata {
    text-align:center;
    font-size:110%;
}

.releasedate {
    color:blue;
    text-align:center;
    font-size:110%;
}
/** End Idol Story Details
***/

/** red/blue colors
***/
.bluecolor {
    color: blue;
}

.redcolor {
    color: red;
}
/** End red/blue colors
***/

/** Chat format
***/
body {
    --msr-icon-size: 67px;
  }
/** End Chat format
***/


