table.lyrics {
  border: 0px;
  width: 100%;
  font-size: 15px;
  font-family: Verdana;
}

table.solo {
  text-align: center;
}

table.lyrics th,
table.lyrics td {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

table.lyrics td.name {
  text-align: right;
  width: 35%;
  vertical-align: top;
}

table.lyrics td.timestamp {
  padding-top: 7px;
  padding-bottom: 7px;
}

.timestamp {
  color: #828282;
}

.tetora {
  color: #302833;
}

.midori {
  color: #00533f;
}

.shinobu {
  color: #cf7e37;
}

.chiaki {
  color: #e60033;
}

.kanata {
  color: #008db7;
}

.mao {
  color: #E25285;
}

.leo {
  color: #FF6857;
}

.eichi {
  color: #EEB442;
}

.keito {
  color: #008100;
}

@media (prefers-color-scheme: dark) {
  .tetora {
    color: #bba2c4;
  }

  .midori {
    color: #0d9c7d;
  }
}